# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable d-a-o-genarater': 'd-a-o-genarater:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'd-a-o-genarater'
      'submenu': [
        { 'label': 'Toggle', 'command': 'd-a-o-genarater:toggle' }
      ]
    ]
  }
]
